[submodule "files/vim/bundle/puppet-syntax-vim"]
	path = files/vim/bundle/puppet-syntax-vim
	url = git@github.com:puppetlabs/puppet-syntax-vim.git
[submodule "files/vim/bundle/vim-json"]
	path = files/vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "files/vim/bundle/vim-go"]
	path = files/vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "files/vim/bundle/vim-less"]
	path = files/vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "files/vim/bundle/vim-slim"]
	path = files/vim/bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
