btop
dconf
evolution
gcloud
github-copilot
gnome-initial-setup-done
go/telemetry
google-chrome
gtk-3.0
htop
ibus
iterm2
mimeapps.list
monitors.xml
nautilus
ookla
pudb
pulse
qBittorrent
rclone
user-dirs.dirs
user-dirs.locale
