"*":
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "welcome"
    ]
    projectHome: "/home/albertyw/Desktop/vagrant/console"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "fcc1a21d-dbff-6e2b-5500-a44f4b54834c"
  "find-and-replace": {}
  "highlight-line":
    enableBackgroundColor: false
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  linter: {}
  welcome:
    showOnStartup: false
