"*":
  editor:
    invisibles: {}
    autoIndentOnPaste: false
    showIndentGuide: true
  core:
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    destroyEmptyPanes: false
    projectHome: "/home/albertyw/Desktop/vagrant/console"
    disabledPackages: [
      "welcome"
    ]
  "highlight-line":
    enableBackgroundColor: false
  "highlight-selected":
    lightTheme: true
    highlightBackground: true
  linter: {}
  "exception-reporting":
    userId: "fcc1a21d-dbff-6e2b-5500-a44f4b54834c"
  welcome:
    showOnStartup: false
  "find-and-replace": {}
  "bracket-matcher":
    autocompleteSmartQuotes: false
    autocompleteBrackets: false
